<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title}}我的博客</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-router@3.4.9/dist/vue-router.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        html,body {
            padding: 0;
            margin: 0;
            width: 100%;
            position: absolute;
            top:0;
            bottom: 0;
            background-color: #EEE;
            overflow:hidden;
        }
    </style>
</head>
<body>
    <div id="login">
        <Login></Login>
    </div>
</body>
<script type="text/javascript" src="/js/manifest.js"></script>
<script src="{{ .Mix.Vendor}}"></script>

<script type="text/javascript" src="{{ .Mix.Login}}"></script>
</html>